/.idea
.DS_Store
*.elf
*.bin
*.bzimg
*.dbg
**/target/
*.img
/kernel-rv
/kernel-la
/.crates*
/mnt
*.swp
*.swo

# Code statistics cache
/.cache/
/code-stats/

# Cargo lock
Cargo.lock

# Python
__pycache__
venv

# Kconfig build artifacts
defconfig
.config
.config.old
.config.prepared
auto.conf
autoconf.h
target/kbuild/
/shared

.cargo/*
!.cargo/config.toml
.vscode
