menu "Drivers Basic Configuration"

config PSCI_METHOD
    string "PSCI Method"
    default "hvc"
    depends on ARCH_AARCH64
    help
      Specify the method used for Power State Coordination Interface (PSCI) calls.

config PHYS_BUS_OFFSET
    hex "Physical Bus Offset"
    default 0x0
    help
      Specify the physical bus offset for device memory mapping.

config PCI_ECAM_BASE
    hex "PCI ECAM Base Address"
    default 0x40100000000
    help
      Define the base address for PCI Express Configuration Access Mechanism (ECAM).

config PCI_BUS_END
    hex "PCI Bus End"
    default 0xff
    help
      Set the end bus number for PCI devices.

config PCI_RANGES
    rangetype "PCI Address Ranges"
    default [(u64, u64)]
    help
      Specify the address ranges for PCI devices.

config MMIO_RANGES
    rangetype "MMIO Address Ranges"
    default [(usize, usize)]
    help
      Specify the address ranges for Memory-Mapped I/O (MMIO) devices.

config RTC_PADDR
    hex "RTC Base Address"
    help
      Define the base address for the RTC (Real-Time Clock) device.

config UART_PADDR
    hex "UART Base Address"
    help
      Define the base address for the UART (Universal Asynchronous Receiver-Transmitter) device.

config UART_IRQ
    usize "UART IRQ Number"
    default 33
    help
      Define the interrupt number for the UART device.

menu "IRQ Configuration"

config GICC_PADDR
    hex "GICC Base Address"
    depends on ARCH_AARCH64
    help
      Define the base address for the GICC (Generic Interrupt Controller CPU Interface).

config GICD_PADDR
    hex "GICD Base Address"
    depends on ARCH_AARCH64
    help
      Define the base address for the GICD (Generic Interrupt Controller Distributor).

config PMU_IRQ
    usize "PMU IRQ Number"
    default 23
    depends on ARCH_AARCH64
    default 23
    depends on ARCH_AARCH64
    help
      Define the interrupt number for the Performance Monitoring Unit (PMU).

config TIMER_IRQ
    usize "Timer IRQ Number"
    default 30
    help
      Define the interrupt number for the system timer.

config IPI_IRQ
    usize "IPI IRQ Number"
    default 1
    help
      Define the interrupt number for Inter-Processor Interrupts (IPI).

endmenu # IRQ Configuration
endmenu # Drivers Basic Configuration
